<h1>LIBRARY MANAGEMENT SYSTEM</h1>

    <div class="col-6">
        {% if data %}
        <form method="post">
            <input type="text" class="form-control" id="txtName" name="txtName" placeholder="Name" required>
            <br>

            <input type="text" class="form-control" id="txtAge" name="txtAge" placeholder="Age" required>
            <br>

            <input type="text" class="form-control" id="txtGender" name="txtGender" placeholder="Gender" required>
            <br>

            <input type="text" class="form-control" id="txtContact" name="txtContact" placeholder="Contact" required>
            <br>

            <input type="submit" value="Add details" class="btn btn-primary">
        </form>
      {% endif %}
      {% if message %}
        <div class="alert alert-info">
          {{message}}
        </div>
        {% endif %}
    </div>